@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="container">
	<div>
		<h1 class="display-3">
			<strong>Edifício Ocean - Projeto Final Jornada Microsoft</strong>
		</h1>
		<br>
	</div>
	<div>
		<h3 class="display-6">Objetivo</h3>
		<p>Este projeto foi desenvolvido na linguagem C# e consiste numa simulação de um elevador.</p>
	</div>
	<div>
		<h3 class="display-6">Visão Geral</h3>
		<p><strong>Inicializar:</strong> receber como parâmetros a capacidade do elevador e o total de andares no prédio (os elevadores sempre começam no térreo e vazio);</p>
		<p><strong>Entrar:</strong> acrescentar uma pessoa no elevador (só deve acrescentar se ainda houver espaço);</p>
		<p><strong>Sair:</strong> remover uma pessoa do elevador (só deve remover se houver alguém dentro dele);</p>
		<p><strong>Subir:</strong> subir um andar (não deve subir se já estiver no último andar);</p>
		<p><strong>Descer:</strong> descer um andar (não deve descer se já estiver no térreo);</p>
		<br>
	</div>
	<h3 class="display-6">Menu do Sistema</h3>
	<li>Neste primeiro menu, o usuário deve entrar com a quantidade de andares e a capacidade do elevador.</li>
	<br>
	<img class="img-fluid img-thumbnail" src="~/img/1.png">
	<br>
	<br>
	<li>Em seguida, o usuário deve deve selecionar umas das opções conforme sua vontade.</li>
	<br>
	<img class="img-fluid img-thumbnail" src="~/img/2.png">
	<br>
	<br>
	<li>Caso o usuário deseje entrar, ele deve selecionar a opção 1.</li>
	<br>
	<img class="img-fluid img-thumbnail" src="~/img/3.png">
	<br>
	<br>
	<li>Se o usuário desejar sair, ele deve selecionar a opção 2.</li>
	<br>
	<img class="img-fluid img-thumbnail" src="~/img/4.png">
	<br>
	<br>
	<li>Para subir o elevador, o usuario deve selecionar a opção 3.</li>
	<br>
	<img class="img-fluid img-thumbnail" src="~/img/5.png">
	<br>
	<br>
	<li>Para descer o elevador, o usuario deve selecionar a opção 4.</li>
	<li>Mensagem exibida quando o elevador está no térreo e o usuario pede para descer.</li>
	<br>
	<img class="img-fluid img-thumbnail" src="~/img/6.png">
	<br>
	<br>
	<li>Para finalizar a aplicação, o usuário deve escolher a opção 5.</li>
	<br>
	<img class="img-fluid img-thumbnail" src="~/img/7.png">
	<br>
	<br>
	<li>Mensagem exibida quando o elavador está no último andar.</li>
	<br>
	<img class="img-fluid img-thumbnail" src="~/img/8.png">
	<br>
	<br>
	<li>Mensagem exibida quando elavador está cheio.</li>
	<br>
	<img class="img-fluid img-thumbnail" src="~/img/9.png">
	<br>
	<br>
	<li>Mensagem exibida quando o usuário digita uma opção inválida.</li>
	<br>
	<img class="img-fluid img-thumbnail" src="~/img/10.png">
	<br>
	<br>
</div>
